- <section class="animate__animated animate__fadeIn">
    <div id="main-title">
        <div class="container">

        </div>
    </div>
    <div class="body-content">
        <div class="sm-width single-elem has-breadcrumbns">
            <div id="bread-crumbs">
                <div class="container">
                    <ul class="no-style">
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Consulta</a></li>
                        <li><a href="">Solicitudes NUPRE</a></li>
                        <li><a [routerLink]="(['/Detalle/' + this.solicitudId])">Detalle solicitud</a></li>
                        <li>Registro de Titulo</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <form [formGroup]="registroLocalidades" #aFrom>
                    <section class="block-section">
                        <div class="content-title">
                            <h3 class="title">Registrar Localidad Medica
                            </h3>
                        </div>
                        <div class="form-field">
                            <strong class="caption">Nombre Prestadora<span class="required-field">*</span>:
                            </strong>

                            <div class="form-control">
                                <div [ngClass]="{'has-error':validarCampo('prestadora_Numero')}"></div>
                                <span class="error-text" *ngIf="validarCampo('prestadora_Numero')">Este
                                    campo es requerido</span>

                                <ng-select [items]="listaPrestadora" placeholder="Seleccionar una ..."
                                    formControlName="prestadora_Numero" bindLabel="prestadora_Nombre"
                                    bindValue="prestadora_Numero" [clearable]="false" [searchable]="true"
                                    [ngModel]="selectedPrestadora">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-field">


                            <strong class="caption">Dirección <span class="required-field">*</span>:

                            </strong>
                            <div [ngClass]="{'has-error':validarCampo('localidad_Direccion')}"></div>
                            <span class="error-text" *ngIf="validarCampo('localidad_Direccion')">Este
                                campo es requerido</span>
                            <div class="form-control">
                                <input type="text" class="input form-input" formControlName="localidad_Direccion">
                            </div>
                        </div>

                        <div class="form-field">
                            <strong class="caption">Municipio <span class="required-field">*</span>:

                            </strong>
                            <div class="form-control">
                                <div [ngClass]="{'has-error':validarCampo('municipio_numero')}"></div>
                                <span class="error-text" *ngIf="validarCampo('municipio_numero')">Este
                                    campo es requerido</span>
                                <ng-select [items]="listaMunicipio" placeholder="Selecione un ... "
                                    formControlName="municipio_numero" bindLabel="municipioNombre"
                                    bindValue="municipioNumero" [clearable]="false" [searchable]="false"
                                    [(ngModel)]="selectedMunicipio">
                                </ng-select>

                                <!-- <input type="text" class="input form-input" formControlName="municipio_numero"> -->
                            </div>
                        </div>
                        <div class="form-field">

                            <strong class="caption">Teléfono 1 <span class="required-field">*</span>:

                            </strong>
                            <div class="form-control">
                                <div [ngClass]="{'has-error':validarCampo('localidad_Telefono1')}"></div>
                                <span class="error-text" *ngIf="validarCampo('localidad_Telefono1')">Este
                                    campo es requerido</span>
                                <input type="text" class="input form-input" formControlName="localidad_Telefono1"
                                    mask="(000) 000-0000">
                            </div>
                        </div>
                        <div class="form-field">
                            <strong class="caption">Teléfono 2 <span class="required-field"></span>:

                            </strong>
                            <div class="form-control">
                                <input type="text" class="input form-input" formControlName="localidad_Telefono2"
                                    mask="(000) 000-0000">
                            </div>
                        </div>
                        <div class="form-field">
                            <strong class="caption">Detalles <span class="required-field"></span>:

                            </strong>
                            <div class="form-control">
                                <input type="text" class="input form-input" formControlName="localidad_Detalle">
                            </div>
                        </div>

                    </section>
                    <div class="bottom-btn right"></div>
                    <button class="default-btn rounded lg-btn"><i class="fas fa-times"></i>
                        Cancelar</button>
                    <button class="primary-btn rounded lg-btn" [disabled]="registroLocalidades.invalid"
                        (click)="guardarSolicitud()">


                        <i class="fas fa-check">Agregar</i>

                    </button>

                </form>
            </div>
        </div>
    </div>
</section>