<!-- footer -->


<div class="f-top">
  <div class="container">
    <p>Oficina virtual de la Superintendencia de Salud y Riesgos Laborales | SISALRIL</p>
    <p>Av.27 de Febrero # 261, Ensanche Piantini, Edificio SISALRIL, Santo Domingo, R. D.</p>
    <p>Tel.: (809) 227-0714 | Fax - 1 (809) 540-3640</p>
    <p><a href="mailto:oai@sisalril.gob.do">oaisisalril.gob.do</a></p>
  </div>
</div>
<div class="f-bottom">
  <span>©{{yearCopyright}} Todos los derechos reservados.</span>
  <div id="foo-links">
    <div class="container">
      <a href="http://www.sisalril.gob.do/TerminosdeUso.aspx">Términos de Uso</a>
      <a href="http://www.sisalril.gob.do/Politicas.aspx">Políticas</a>
      <a href="http://www.sisalril.gob.do/PreguntasFrecuentes.aspx">Preguntas Frecuentes</a>
    </div>
  </div>
  <div>
    <span>
      versión
    </span>
  </div>
</div>

<!-- end footer -->