<div class="content-title">
    <h3 class="title">Localidades donde presta Servicios
    </h3>
</div>

<div class="form-field">
    <strong class="caption">Nombre Prestadora : <span class="required-field">*</span>:</strong>
    <div>
        <span class="error-text"
            *ngIf="submitted &&!this.nuevasolicitudForm.controls['Afiliado_Correo']?.value; else conValorCorreo ">

        </span>
        <ng-template #conValorCorreo>
            <span class="error-text" *ngIf="submitted && nuevasolicitudForm.controls['Afiliado_Correo'].invalid">Correo
                invalido</span>
        </ng-template>
        <!-- TODO: Se arrregla la validación de correo (Afiliado_Correo) -->
        <input type="email" formControlName="Afiliado_Correo" class="input form-input">
    </div>
</div>
<div class="row form-field ">
    <div class="col-w6 ">
        <strong class="captinon">Municipio :</strong>
        <div>
            <span class="error-text"
                *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Telefono'].invalid">Numero
                de Telefono invalido</span>
            <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Telefono" class="input form-input">
        </div>
    </div>
    <div class="col-w6">
        <strong class="captinon">Teléfono 1 : <span class="required-field">*</span>:</strong>
        <div>
            <span class="error-text"
                *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

            </span>
            <ng-template #conValorCelular>
                <span class="error-text"
                    *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                    de Celular invalido</span>
            </ng-template>
            <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular" class="input form-input">
        </div>
    </div>
    <div class="col-w6">
        <strong class="captinon">Teléfono 2 : <span class="required-field">*</span>:</strong>
        <div>
            <span class="error-text"
                *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

            </span>
            <ng-template #conValorCelular>
                <span class="error-text"
                    *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                    de Celular invalido</span>
            </ng-template>
            <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular" class="input form-input">
        </div>
    </div>
    <div class="col-w6">
        <strong class="captinon">Direccion : <span class="required-field">*</span>:</strong>
        <div>
            <span class="error-text"
                *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

            </span>
            <ng-template #conValorCelular>
                <span class="error-text"
                    *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                    de Celular invalido</span>
            </ng-template>
            <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular" class="input form-input">
        </div>
    </div>
</div>
<div class="form-field">
    <strong class="caption">Detalles : <span class="required-field">*</span>:</strong>
    <div>
        <span class="error-text"
            *ngIf="submitted &&!this.nuevasolicitudForm.controls['Afiliado_Correo']?.value; else conValorCorreo ">

        </span>
        <ng-template #conValorCorreo>
            <span class="error-text" *ngIf="submitted && nuevasolicitudForm.controls['Afiliado_Correo'].invalid">Correo
                invalido</span>
        </ng-template>
        <!-- TODO: Se arrregla la validación de correo (Afiliado_Correo) -->
        <input type="email" formControlName="Afiliado_Correo" class="input form-input">
    </div>
</div>