<section class="block-section">
    <span class="goback-btn alone" (click)="regresar()"><i class="fas fa-chevron-left"></i> Regresar</span>
    <div class="content-title">
        <h3 class="title">Datos del Afiliado</h3>
    </div>
    <div class="form-field">
        <strong class="caption">Cédula / Pasaporte <span class="required-field">*</span>:</strong>
        <div class="search-box">
            <span class="error-text"
                *ngIf="submitted &&  nuevasolicitudForm.controls['Search'].invalid && Search?.errors?.['required']">Debe
                introducir una Cedula valida</span>
            <div class="input-box">
                <input formControlName="Search" type="text" class="form-input" />
            </div>
            <div class="addons button-icon">
                <button class="tooltip" data-tooltip="Buscar" (click)="buscarDatosAfiliado()">
                    <i class="fas fa-search"></i></button>
                <!-- fa-trash -->
            </div>
        </div>
    </div>
    <div class="blue-alert" *ngIf="ValidaNSS">
        <div class="content">
            <p><i class="fas fa-info-circle"></i>
            </p>
        </div>
    </div>

    <div>
        <div class="form-field">
            <strong class="caption">Nombre</strong>
            <input formControlName="Nombre" type="text" class="input form-input">
        </div>
        <div class="row form-field ">
            <div class="col-w6 ">
                <strong class="captinon">Nacionalidad :</strong>
                <div>
                    <span class="error-text"
                        *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Telefono'].invalid">Numero
                        de Telefono invalido</span>
                    <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Telefono"
                        class="input form-input">
                </div>
            </div>
            <div class="col-w6">
                <strong class="captinon">Sexo : <span class="required-field">*</span>:</strong>
                <div>
                    <span class="error-text"
                        *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

                    </span>
                    <ng-template #conValorCelular>
                        <span class="error-text"
                            *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                            de Celular invalido</span>
                    </ng-template>
                    <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular"
                        class="input form-input">
                </div>
            </div>
            <div class="col-w6">
                <strong class="captinon">Exequátur: <span class="required-field">*</span>:</strong>
                <div>
                    <span class="error-text"
                        *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

                    </span>
                    <ng-template #conValorCelular>
                        <span class="error-text"
                            *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                            de Celular invalido</span>
                    </ng-template>
                    <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular"
                        class="input form-input">
                </div>
            </div>
            <div class="col-w6">
                <strong class="captinon">Municipio (donde reside) : <span class="required-field">*</span>:</strong>
                <div>
                    <span class="error-text"
                        *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

                    </span>
                    <ng-template #conValorCelular>
                        <span class="error-text"
                            *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                            de Celular invalido</span>
                    </ng-template>
                    <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular"
                        class="input form-input">
                </div>
            </div>
        </div>
        <div class="content-title">
            <h3 class="title">Contacto </h3>
        </div>

        <div class="row form-field ">
            <div class="col-w6 ">
                <strong class="captinon">Celular :</strong>
                <div>
                    <span class="error-text"
                        *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Telefono'].invalid">Numero
                        de Telefono invalido</span>
                    <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Telefono"
                        class="input form-input">
                </div>
            </div>
            <div class="col-w6">
                <strong class="captinon">Teléfono 1 : <span class="required-field">*</span>:</strong>
                <div>
                    <span class="error-text"
                        *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

                    </span>
                    <ng-template #conValorCelular>
                        <span class="error-text"
                            *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                            de Celular invalido</span>
                    </ng-template>
                    <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular"
                        class="input form-input">
                </div>
            </div>
            <div class="col-w6">
                <strong class="captinon">Teléfono 2 : <span class="required-field">*</span>:</strong>
                <div>
                    <span class="error-text"
                        *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

                    </span>
                    <ng-template #conValorCelular>
                        <span class="error-text"
                            *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                            de Celular invalido</span>
                    </ng-template>
                    <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular"
                        class="input form-input">
                </div>
            </div>
            <div class="col-w6">
                <strong class="captinon">Correo Electrónico : <span class="required-field">*</span>:</strong>
                <div>
                    <span class="error-text"
                        *ngIf="submitted && !this.nuevasolicitudForm.controls['Afiliado_Celular']?.value; else conValorCelular ">

                    </span>
                    <ng-template #conValorCelular>
                        <span class="error-text"
                            *ngIf="submitted && this.nuevasolicitudForm.controls['Afiliado_Celular']?.invalid">Numero
                            de Celular invalido</span>
                    </ng-template>
                    <input type="text" mask="(000) 000-0000" formControlName="Afiliado_Celular"
                        class="input form-input">
                </div>
            </div>
        </div>
        <div class="form-field">
            <strong class="caption">Dirección Residencial : <span class="required-field">*</span>:</strong>
            <div>
                <span class="error-text"
                    *ngIf="submitted &&!this.nuevasolicitudForm.controls['Afiliado_Correo']?.value; else conValorCorreo ">

                </span>
                <ng-template #conValorCorreo>
                    <span class="error-text"
                        *ngIf="submitted && nuevasolicitudForm.controls['Afiliado_Correo'].invalid">Correo
                        invalido</span>
                </ng-template>
                <!-- TODO: Se arrregla la validación de correo (Afiliado_Correo) -->
                <input type="email" formControlName="Afiliado_Correo" class="input form-input">
            </div>
        </div>
    </div>
</section>