<section class="animate__animated animate__fadeIn">
    <div id="main-title">
        <div class="container">
            <h2>Solicitudes de Registro NUPRE </h2>
        </div>
    </div>

    <div class="body-content">
        <div class="reg_wrapper">
            <form [formGroup]="this.busquedaForm" class="header_list">
                <div id="bread-crumbs">
                    <div class="container">
                        <ul class="no-style">
                            <li><a href="">Inicio</a></li>
                            <li>Lista de solicitudes</li>
                            <li>NUPRE</li>
                        </ul>
                    </div>
                </div>
                <!-- {1/1/2022 12:00:00 AM} -->

                <div class="container">
                    <div class="grid-column-sys navigation">
                        <div class="column rborder topPadding" id="filter">

                            <div class="search-box">
                                <div class="input-box">
                                    <input formControlName="Search" type="text" class="form-input"
                                        placeholder="Buscar solicitud o exequatur" />
                                </div>
                                <div class="addons button-icon">
                                    <button (click)="GetSolicitudes(true)"><i class="fas fa-search"></i></button>
                                </div>
                            </div>

                            <section>
                                <h4>Búsqueda por fecha de registro</h4>
                                <div class="register-list">
                                    <strong>Fecha inicio:</strong>
                                    <input type="date" class="input form-input" formControlName="fechaInicio"
                                        (change)="GetSolicitudes()" appMaxLenDate>

                                    <strong>Fecha fin:</strong>
                                    <input type="date" class="input form-input" formControlName="fechaFin"
                                        (change)="GetSolicitudes()"
                                        onfocus="this.max=new Date().toISOString().split('T')[0]">
                                </div>
                            </section>
                            <section>
                                <h4>Filtrar por estado</h4>
                                <div class="register-list">
                                    <!-- <label class="form-rdb form-control">
                                        <input type="radio" name="tipoest" id="idtypestatus" value="0" checked
                                            (change)="GetSolicitudes()" />
                                        <span class="elem"></span> Todos
                                    </label> -->
                                    <div class="item" *ngFor="let typestatus of TipoEstado">
                                        <label class="form-rdb form-control">
                                            <input type="radio" name="tipoest" id="idtypestatus"
                                                value={{typestatus.profesional_Estado_Numero}}
                                                (change)="GetSolicitudes(false,true)" />
                                            <span class="elem"></span> {{typestatus.profesional_EstadoDescripcion}}
                                        </label>
                                    </div>
                                </div>
                            </section>
                            <div class="bottom-btn">
                                <button class="default-btn rounded" (click)="LimpiarFiltros()">
                                    <i class="fas fa-history"></i> Limpiar filtros
                                </button>
                            </div>

                        </div>

                        <div class="column topPadding">
                            <div id="register_top_head">
                                <div id="reg_legend" class="column is-7">

                                </div>
                                <div class="right-block">
                                    <div>
                                        <select class="select" formControlName="pagesize" (change)="GetSolicitudes()">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                    <div>

                                        <button class="primary-btn rounded " (click)="nuevasolicitud()">
                                            <i class="fas fa-plus icon"></i> Nuevo
                                        </button>
                                    </div>
                                    <!-- <div>
                                        <button style="height: 31px" class="accent-btn rounded"
                                            (click)="exportarExcel()">
                                            <i class="fas fa-plus icon"></i> Exportar a Excel
                                        </button>
                                    </div> -->
                                </div>
                            </div>


                            <!-- <div *ngIf="this.details?.value < 0 ">

                                <div class="blue-alert">
                                    <div class="content">
                                        <i class="fas fa-info-circle"></i> No existen registros a consultar.
                                    </div>
                                </div>
                            </div> -->

                            <!-- Loading -->
                            <div class="skeleton slst animate__animated animate__fadeIn" *ngIf="loading">
                                <div class="tpln clm2 fd">
                                    <div><span class="sqr"></span></div>
                                    <div><span class="rnd"></span><span class="ln"></span><span class="rnd"></span>
                                    </div>
                                </div>
                                <div class="lst fd">
                                    <div class="sqr wd mhg wvs pst"></div>
                                    <div class="sqr wd mhg wvs pst"></div>
                                    <div class="sqr wd mhg wvs pst"></div>
                                </div>
                            </div>

                            <!-- no register 1 -->
                            <div *ngIf="details.length === 0">
                                <div class="blue-alert">
                                    <div class="content">
                                        <i class="fas fa-info-circle"></i> No existen registros de NUPRE a
                                        consultar.
                                    </div>
                                </div>
                                <button class="primary-btn rounded" (click)="nuevasolicitud()"><i
                                        class="fas fa-plus"></i> Nueva Solicitud</button>
                            </div>

                            <!-- Mostrar mensaje en caso de que la busqueda regrese vacio  -->
                            <div class="no-register columns is-variable is-0 animate__animated animate__fadeIn"
                                *ngIf="loading2">
                                <div class="column is-1">
                                    <div class="icon">
                                        <i class="fas fa-file"></i>
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="text" *ngIf="!loading2">
                                        <span>{{TextoFiltro}} </span>
                                        <span *ngIf="ValidaFiltroBtn">No existen solicitudes que coincidan con su
                                            criterio de búsqueda: "<strong
                                                class="color-regal">{{TextBtn}}</strong>".</span>
                                    </div>
                                </div>
                            </div>

                            <div id="register_list">



                                @for (item of details; track item; let i = $index ) {

                                <div class="register animate__animated animate__fadeIn">

                                    <div class="cel no-border">
                                        <strong (click)="detallesolicitud(item.solicitud_Numero)">
                                            Número Solicitud :{{item.solicitud_Numero}} | Nombre Solicitante :
                                            {{item.profesional_Nombre_Completo}}
                                        </strong>
                                        <div class="relates">
                                            <span><i class="far fa-calendar"></i> Cédula:
                                                {{item.profesional_Cedula}}</span>
                                            <span><i class="far fa-calendar"></i> Fecha de registro:
                                                {{item.registro_Fecha | date:'dd/MM/yyyy'}}</span>

                                            <span *ngIf="item.solicitud_Estado_Numero"><i
                                                    class="far fa-accessible-icon"></i>
                                                Solicitud Estado:

                                                {{buscarEstado(item.solicitud_Estado_Numero)}}

                                                <!-- {{this.TipoEstado[item.solicitud_Estado_Numero-1].profesional_EstadoDescripcion}} -->
                                                <!-- {{this.TipoEstado[item.solicitud_Estado_Numero].profesional_EstadoDescripcion}} -->
                                            </span>

                                        </div>
                                    </div>
                                    <div class="cel" id="statuslabel">
                                        <span class="status pending"
                                            *ngIf="item.solicitud_Estado_Numero===0 || item.solicitud_Estado_Numero===0 ||item.solicitud_Estado_Numero===8  ">
                                            {{buscarEstado(item.solicitud_Estado_Numero)}}</span>
                                        <span class="status approved"
                                            *ngIf="item.solicitud_Estado_Numero===6 || item.solicitud_Estado_Numero===7">
                                            {{buscarEstado(item.solicitud_Estado_Numero)}}</span>
                                        <span class="status canceled"
                                            *ngIf="item.solicitud_Estado_Numero===3  || item.solicitud_Estado_Numero===4  || item.solicitud_Estado_Numero===2">
                                            {{buscarEstado(item.solicitud_Estado_Numero)}}</span>
                                    </div>

                                    <div class="cel" id="btns">
                                        <button class="outline-btn icon edit tooltip"
                                            (click)="detallesolicitud(item?.solicitud_Numero)"
                                            data-tooltip="Editar solicitud">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </div>
                                </div>



                                }


                            </div>

                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</section>