<div class="skeleton slst animate__animated animate__fadeIn" *ngIf="loading === true">
    <h3 class="color-accent">Estamos procesando su solicitud. Por favor, espere...</h3>
    <div class="tpln clm2 fd">
        <div><span class="sqr"></span></div>
        <div><span class="rnd"></span><span class="ln"></span><span class="rnd"></span>
        </div>
    </div>
    <div class="lst fd">
        <div class="sqr wd mhg wvs pst"></div>
        <div class="sqr wd mhg wvs pst"></div>
        <div class="sqr wd mhg wvs pst"></div>
    </div>
</div>
<div *ngIf="loading === false">
    <h3 class="color-accent">Resumen de Solicitud</h3>

    <section class="block-section" *ngIf="this.detalle">
        <p>La fecha de creacion de la solicitud es el : <strong> {{fechasolicitud | date:
                'dd-MMM-yyyy'}}</strong>
        <p> Afiliado :
            <strong>{{ detalle.profesional_Nombre_Completo}}</strong>
        <p>

            Cédula :
            <strong>{{detalle.profesional_Cedula}}</strong>
        </p>
    </section>


    <div class="yellow-alert" *ngIf="checkTitulos == false">
        <div class="content has-icon">
            <div class="icon"><i class="fas fa-exclamation-circle"></i></div>
            <div class="text">Debe completar el registro de títulos los títulos profesionales antes de registrar esta
                solicitud.</div>
        </div>
    </div>

    <div class="yellow-alert" *ngIf="!checkAsociaciones">
        <div class="content has-icon">
            <div class="icon"><i class="fas fa-exclamation-circle"></i></div>
            <div class="text">Debe de registrar las asociaciones a la cual pertenece antes de registrar esta solicitud
            </div>
        </div>
    </div>
    <div class="yellow-alert" *ngIf="!checkLocalidades">
        <div class="content has-icon">
            <div class="icon"><i class="fas fa-exclamation-circle"></i></div>
            <div class="text">Debe de registrar la localidad donde presta servicio antes de registrar esta solicitud
            </div>
        </div>
    </div>




    <section class="block-section">
        <h4 style="margin-bottom: -10px">Registro de titulación profesional a las que ha optado -
            <span *ngIf="checkTitulos" class="color-accent">Completado</span>
            <span *ngIf="!checkTitulos" class="color-red">No completado</span>

        </h4>

    </section>


    <section class="block-section">
        <h4 style="margin-bottom: -10px">Registro de Asociaciones a las que pertenece -
            <span *ngIf="checkAsociaciones && checkTitulos" class="color-accent">Completado</span>
            <span *ngIf="!checkAsociaciones || !checkTitulos" class="color-red">No completado</span>

        </h4>

    </section>
    <section class="block-section">
        <h4 style="margin-bottom: -10px">Registro de localidades donde presta servicio -
            <span *ngIf="checkLocalidades == true" class="color-accent">Completado</span>
            <span *ngIf="checkLocalidades == false" class="color-red">No completado</span>

        </h4>

    </section>


    <!-- <section class="block-section">
        <h4>Solicitud Enviadad -
            <span *ngIf="checkAsociaciones && checkTitulos && " class="color-accent">Completado</span>
            <span *ngIf="!checkAsociaciones || !checkTitulos" class="color-grey">No enviada</span>
        </h4>
    </section> -->

    <div *ngIf="submitCliked == false ">

        <!-- 
        <div class="bottom-btn" *ngIf="checkAsociaciones == true && checkTitulos == true && checkLocalidades == true">
            <button [disabled]="this.submitCliked" class="primary-btn glow rounded lg-btn" (click)="Someter()">Enviar
                solicitud</button>
        </div> -->

        <!-- <div class="bottom-btn"
            *ngIf="checkAsociaciones == true && checkTitulos == true && checkLocalidades == true  && detalle.solicitud_Estado_Numero == 1">
            <button class="primary-btn glow rounded lg-btn" (click)="Someter()">Someter
                solicitud</button>
        </div> -->
        <div class="bottom-btn"
            *ngIf="checkAsociaciones == true && checkTitulos == true && checkLocalidades == true  && detalle.solicitud_Estado_Numero == 0">
            <button class="primary-btn rounded open-modal" data-target="confirmar_someter_solicitud">Registrar
                solicitud</button>
        </div>
    </div>
    <!--Modal confirmar sometimiento solicitud-->
    <div id="confirmar_someter_solicitud" class="modal-wrap">
        <div class="modalbox confirmation">
            <div class="modal-body-content">
                <strong> ¿Está seguro que desea enviar esta solicitud?</strong>
                <p>Una vez enviada no podra hacer modificaciones de ningun tipo</p>
                <div class="bottom-btn less-margin">
                    <button class="primary-btn rounded dismiss" (click)="Someter()">
                        Sí, estoy seguro
                    </button>
                    <button class="default-btn rounded dismiss">
                        No, fue un error
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>