<div id="top-header">
  <header class="tm-hide">
    <div class="content">
      <span id="user" class="elem"><i class="fas fa-user"></i> {{user.UsuarioNombres}} </span>
      <span class="elem link" (click)="cerrarSesion()" style="cursor: pointer;">
        <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
      </span>
    </div>
  </header>

  <nav id="main-nav">
    <div class="logo">
      <a href="https://virtual.sisalril.gob.do/sisalrilvirtual/">
        <img src="assets/img/sisalril_icon.png" alt="Logo sisalril" class="icon">
        <span class="name">Sisalril OV</span>
      </a>
    </div>
    <div class="responsive-actions tm-show">
      <span id="user-opt"><i class="fas fa-user"></i></span>
      <span id="nav-opt"><i class="fas fa-bars"></i></span>
    </div>
    <ul id="tm-nav">
      <li class="active"><a href="#">Inicio</a></li>
      <li class="has-submenu">
        <span class="static-opt">Consultas <i class="fas fa-angle-down"></i></span>
        <ul class="submenu">
          <!-- <li>
                      <a class="item open-modal" data-target="certificadoBox">Certificados</a>
                  </li> -->
          <!-- <li class="has-submenu">
                      <span class="item">Planes de Salud</span>
                      <ul class="submenu scnlvl">
                          <li><a href="#" class="item">Consulta del PDSS</a></li>
                          <li><a href="#" class="item">Planes Alternativos</a></li>
                      </ul>
                  </li> -->

        </ul>
      </li>
      <li class="has-submenu">
        <span class="static-opt">Servicios <i class="fas fa-angle-down"></i></span>

      <li class="has-submenu">
        <span class="static-opt">SIMON <i class="fas fa-angle-down"></i></span>

      </li>
      <li id="notifications">
        <a href="">
          <span class="notification-label">
            <i class="fas fa-bell"></i>
          </span>
          Notificaciones
        </a>
      </li>
      <li><a class="open-modal" data-target="profileBox">Perfil</a></li>
    </ul>
  </nav>
</div>

<!-- TODO: Se ponen en comentario, está dando errror -->
<!-- <app-perfil [user]=user class="modal-wrap" id="profileBox" *ngIf="loadProfile">
</app-perfil>
<app-certificado class="modal-wrap" id="certificadoBox"></app-certificado> -->
<router-outlet></router-outlet>

<footer>


  <app-footer-component>
  </app-footer-component>
</footer>
<!-- footer -->
<!-- <footer>
<div class="f-top">
  <div class="container">
    <p>Oficina virtual de la Superintendencia de Salud y Riesgos Laborales | SISALRIL</p>
    <p>Av.27 de Febrero # 261, Ensanche Piantini, Edificio SISALRIL, Santo Domingo, R. D.</p>
    <p>Tel.: (809) 227-0714 | Fax - 1 (809) 540-3640</p>
    <p><a href="mailto:oai@sisalril.gob.do">oai@sisalril.gob.do</a></p>
  </div>
</div>
<div class="f-bottom">
  <span>©2023 Todos los derechos reservados.</span>
  <div id="foo-links">
    <div class="container">
      <a href="http://www.sisalril.gob.do/TerminosdeUso.aspx">Términos de Uso</a>
      <a href="http://www.sisalril.gob.do/Politicas.aspx">Políticas</a>
      <a href="http://www.sisalril.gob.do/PreguntasFrecuentes.aspx">Preguntas Frecuentes</a>
    </div>
  </div>
</div>
</footer> -->
<!-- end footer -->