/*===================================================
====================== TABLES =======================
===================================================*/
table.table {
	line-height: normal;
	width: 100%; 

	caption {
		color: $accent;
		font-size: 16px;
		font-weight: bold;
    	margin-bottom: 15px;
		text-align: left;
		text-transform: uppercase;
	}

	.nocenter { text-align: left !important; }

	th, td { padding: 6px 12px; }

	th { font-size: 15px; }

	td { word-break: break-all; font-size: 14px; }

	thead { 
		border-bottom: 2px solid $grey;
		border-top: 2px solid $grey; 

		&.nocenter th { text-align: left; }
	}

	tbody  {
		tr { border-bottom: 1px solid rgba($grey, .5); }

		.centertext { text-align: center; }
	}


	&.striped {
		// tbody tr:nth-child(2n) { background-color: $light-grey; }
		tbody tr:nth-child(2n) { background-color: #ecf0f5; }
	}

	&.bgheader {
		background-color: $white;
		border: 1px solid $grey;
		border-bottom: 0;
		border-collapse: separate;
		border-radius: 8px;
		overflow: hidden;

		thead {
			background-color: $SlateGrey;
			border: 0;

			th { color: $white; }
		}

		td { border-bottom: 1px solid $grey; }
	}

	&.fcolor {
		background-color: $regal-blue;
		border-radius: 5px;
		color: $white;
		overflow: hidden;

		thead, tbody tr { border: 1px solid rgba($white, .1); }

		tbody tr:nth-child(2n) { background-color: #3A546D !important; }
	}

	&.column {
		thead { border: 0; }
		th {
			&:after { 
				border-bottom: 2px solid $blue;
				display: block;
				content: "";
				margin: 10px auto 0;
				width: 100%; 
			}
			&:first-child { padding-left: 0; } 
			&:last-child { padding-right: 0; } 
		}
		tbody tr { border: 0; }
	}

	.options i { font-size: 17px !important; }
}

.wrapper-table {
	border: 1px solid rgba($grey, .5);
	border-bottom: 0;
	border-radius: 4px;
	overflow: auto;
	max-height: 500px;

	// .table { width: 140%; }

	thead {
		border: 0 !important;
		
		th { 
			background-color:#f4f4f4;
			border-right-color: $white;
			box-shadow: 2px 1px 2px rgba(53, 53, 53, 0.2);
			padding: 8px 12px;
			position: sticky; top: 0; 
			z-index: 1;
		}
	}

	td, th {
		border-right: 1px solid rgba($grey, .5);

		&:last-of-type { border-right: 0; }
	}

	.special_row td { border-right: 1px solid rgba($grey, .5); }

	td { word-break: initial !important; }

	.has-field {
		.input {
			text-align-last: center;
	
			&:last-child { margin-right: 0; width: calc(100% - 62px); }
		}

		select.input {
			margin-right: 6px; 
			padding: 0;
			width: 56px; 
		}
	}
}