
//SITE COLORS
$primary: #1950A2;
$accent: #3B953E;

$chambray: #3E567A;
$text: #474d56; //#2C384A;
$title: #425D85; 
$chateau: #939AA4;
$SlateGrey: #677D9D;

//GENERAL COLORS
$black: #353535;
$blue: #2980b9;
$clouds: #ecf0f1;
$midnight-blue: #2c3e50;
$green: #43A047;
$green-sea: #16a085;
$orange: #FB8C00;
$regal-blue: #274058;
$red: #f44336;
$silver: #bdc3c7;
$white: #fff;
$violet: #8E24AA;
$yellow: #FBC02D;
$grey: #CCC;
$light-grey: #ECECEC;
$dark-red: #640c0c;