<style>
    .info-section {
        padding-left: 0px !important;

    }

    .red-alert h4 {
        background-color: rgba(0, 0, 0, 0) !important;
        color: #474d56;
    }
</style>
<div class="row">
    <div class="col-w9">
        <div class="yellow-alert" *ngIf="solicitudRechazoParcial">
            <div class="content has-icon">
                <div class="icon"><i class="fas fa-info-circle"></i> </div>
                <div class="text">
                    Existen datos que necesitan revisarse lo antes posible para continuar
                    con el flujo de su solicitud. Puede ver el detalle en la columna de la derecha.
                </div>
            </div>
        </div>

        <div style="padding-left: 0px;" class="info-section">
            <div class="block m-top warning red-alert"
                *ngIf="[solicitudRechazada, solicitudRechazoParcial].includes(true)">
                <div class="text">
                    <h4>{{(solicitudRechazada)? 'Solicitud Rechazada' :'Hallazgos' }}</h4>
                    <div class="form-field" *ngFor="let motivos of motivos_Rechazo">
                        {{(motivos.motivo_Rechazo_Descripcion)? '&bull;' + motivos.motivo_Rechazo_Descripcion : '' }}
                    </div>
                    <div *ngIf="notaEvaluador.length">
                        <h4>Nota: </h4>
                        <p>{{notaEvaluador}}</p>
                    </div>
                </div>
            </div>
        </div>



        <!-- datos de la solicitud -->
        <fieldset class="block-section has-edit-btn">
            <legend>Datos del Solicitante</legend>
            <div class="float-btn">
                <span class="color-blue open-modal" data-target="edit_motherData"><i class="fas fa-pen"></i> Editar
                    datos</span>
            </div>
            <div class="row">
                <div class="col-w4">
                    <label class="label-text">Nombre</label>
                    <strong>{{details?.profesionalNombreCompleto}} </strong>
                </div>
                <div class="col-w4">
                    <label class="label-text">Cédula</label>
                    <strong>{{details?.profesionalDocumento}} </strong>
                </div>
                <div class="col-w4">
                    <label class="label-text">Teléfono residencial</label>
                    <strong>{{details?.profesionalTelefono1}} </strong>
                </div>
                <div class="col-w4">
                    <label class="label-text">Celular</label>
                    <strong> {{details?.profesionalTelefono2}}</strong>
                </div>
                <div class="col-w4">
                    <label class="label-text">Correo electrónico</label>
                    <strong>{{details?.profesionalMail}} </strong>
                </div>
            </div>


            <div class="row">
                <div class="col-w4">
                    <label class="label-text">Documento de Identidad </label>
                    <a [href]="" target="_blank"><i class="fas fa-eye"></i> Ver documento</a>
                </div>
                <div class="col-w4">
                    <label class="label-text">Documento de Exequátur </label>
                    <a [href]="" target="_blank"><i class="fas fa-eye"></i> Ver documento</a>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-w3 info-section">
        <div class="block m-top warning" *ngIf="details?.solicitudEstadoNumero == 2">
            <h4> </h4>
            <div>Diríjase a la pestaña “Registro de Documentos para ver los errores.</div>
            <div class="form-field" *ngFor="let motivos of motivos_Rechazo">
                {{(motivos.motivo_Rechazo_Descripcion)? '&bull;' + motivos.motivo_Rechazo_Descripcion : '' }}
            </div>

            <div *ngIf="notaEvaluador.length">
                <h4>Nota: </h4>
                <p>{{notaEvaluador}}</p>
            </div>
        </div>
        <div class="block m-top warning" *ngIf="[solicitudRechazada, solicitudRechazoParcial].includes(true)">
            <div class="form-field">
                <label class="label-text">{{(solicitudRechazada)? 'Fecha de Rechazo' :'Fecha de devolución' }}</label>
                <strong>{{fechaRechazoDevolucion | date:'dd/MM/yyyy'}}</strong>
            </div>
        </div>
        <div class="block m-top">
            <div class="form-field">
                <label class="label-text">Fecha de registro</label>
                <strong>{{details?.registroFecha | date:'dd/MM/yyyy'}} </strong>
            </div>
        </div>


    </div>
</div>