<style>
    .info-section {
        padding-left: 0px !important;

    }

    .red-alert h4 {
        background-color: rgba(0, 0, 0, 0) !important;
        color: #474d56;
    }
</style>
<div class="skeleton slst animate__animated animate__fadeIn" *ngIf="loading == false">
    <h3 class="color-accent">Estamos procesando su solicitud. Por favor, espere...</h3>
    <div class="tpln clm2 fd">
        <div><span class="sqr"></span></div>
        <div><span class="rnd"></span><span class="ln"></span><span class="rnd"></span>
        </div>
    </div>
    <div class="lst fd">
        <div class="sqr wd mhg wvs pst"></div>
        <div class="sqr wd mhg wvs pst"></div>
        <div class="sqr wd mhg wvs pst"></div>
    </div>
</div>

<div class="blue-alert"
    *ngIf="loading == false && this.estado_Numero == 0 || this.estado_Numero == 1 || this.estado_Numero == 8 ">
    <div class="content has-icon">
        <div class="icon"><i class="fas fa-info-circle"></i></div>

        <div><strong>No ha concluido la solicitud de registro para asignación de código SIMON a favor del este
                profesional de la salud. Para continuar, complete los siguientes pasos:</strong>
            <p>1. Complete información de título de grado o de especialidad(es). Favor ingresar copia de título y
                certificación de MESCYT.</p>
            <p>2. Complete información de afiliación a sociedades profesionales médicas y de especialidades a las que
                pertenece el profesional de la salud. Favor ingresar copia de certificación y carnets.</p>
            <p>3. Complete información de afiliación a las localidades profesionales médicas a las que pertenece el
                profesional de la salud.
            <p>4. Registrar solicitud
            </p>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-w9">
        <div class="yellow-alert" *ngIf="solicitudRechazoParcial">
            <div class="content has-icon">
                <div class="icon"><i class="fas fa-info-circle"></i> </div>
                <div class="text">
                    Existen datos que necesitan revisarse lo antes posible para continuar
                    con el flujo de su solicitud. Puede ver el detalle en la columna de la derecha.
                </div>
            </div>
        </div>

        <div style="padding-left: 0px;" class="info-section">
            <div class="block m-top warning red-alert"
                *ngIf="[solicitudRechazada, solicitudRechazoParcial].includes(true)">
                <div class="text">
                    <h4>{{(solicitudRechazada)? 'Solicitud Rechazada' :'Hallazgos' }}</h4>
                    <div class="form-field" *ngFor="let motivos of motivos_Rechazo">
                        {{(motivos.motivo_Rechazo_Descripcion)? '&bull;' + motivos.motivo_Rechazo_Descripcion : '' }}
                    </div>
                    <div *ngIf="notaEvaluador.length">
                        <h4>Nota: </h4>
                        <p>{{notaEvaluador}}</p>
                    </div>
                </div>
            </div>
        </div>



        <!-- datos de la solicitud -->
        <fieldset class="block-section has-edit-btn">
            <legend>Datos del Solicitante </legend>
            <!-- <div class="float-btn"                *ngIf="this.estado_Numero == 0 || this.estado_Numero == == 1 || this.estado_Numero == 2 || this.estado_Numero == 8"> -->
            <div class="float-btn"
                *ngIf="this.estado_Numero ==0 || this.estado_Numero == 1 || this.estado_Numero == 2 || this.estado_Numero == 8">
                <span class="color-blue open-modal" data-target="edit_Data"><i class="fas fa-pen"></i> Editar
                    datos</span>
            </div>
            <div class="row">
                <div class="col-w4">
                    <label class="label-text">Nombre</label>
                    <strong>{{this.afiliado_Nombre_Completo}} </strong>
                </div>
                <div class="col-w4">
                    <label class="label-text">Cédula</label>
                    <strong>{{this.profesional_Cedula! | mask: '000-0000000-0000' }} </strong>
                </div>
                <div class="col-w4">
                    <label class="label-text">Teléfono Consultorio :
                    </label>
                    <strong>{{this.profesional_Telefono1! | mask: '000-000-0000'}} </strong>
                </div>
                <div class="col-w4">
                    <label class="label-text">Teléfono residencial</label>
                    <strong> {{this.profesional_Telefono2! | mask: '000-000-0000'}}</strong>
                </div>
                <div class="col-w4">
                    <label class="label-text">Correo electrónico</label>
                    <strong>{{this.profesional_Mail}} </strong>
                </div>
            </div>


            <div class="row">
                <div class="col-w4">
                    <label class="label-text">Documento de Identidad </label>
                    <a [href]="urlIdentidad" target="_blank"><i class="fas fa-eye"></i> Ver documento</a>
                </div>
                <div class="col-w4">
                    <label class="label-text">Documento de Exequátur </label>
                    <a [href]="urlExequatur" target="_blank"><i class="fas fa-eye"></i> Ver documento</a>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-w3 info-section">
        <div class="block m-top warning" *ngIf="this.estado_Numero == 2">
            <h4> </h4>
            <div>Diríjase a la pestaña “Registro de Documentos para ver los errores.</div>
            <div class="form-field" *ngFor="let motivos of motivos_Rechazo">
                {{(motivos.motivo_Rechazo_Descripcion)? '&bull;' + motivos.motivo_Rechazo_Descripcion : '' }}
            </div>

            <div *ngIf="notaEvaluador.length">
                <h4>Nota: </h4>
                <p>{{notaEvaluador}}</p>
            </div>
        </div>
        <div class="block m-top warning" *ngIf="[solicitudRechazada, solicitudRechazoParcial].includes(true)">
            <div class="form-field">
                <label class="label-text">{{(solicitudRechazada)? 'Fecha de Rechazo' :'Fecha de devolución' }}</label>
                <strong>{{fechaRechazoDevolucion | date:'dd/MM/yyyy'}}</strong>
            </div>
        </div>
        <div class="block m-top">
            <div class="form-field">
                <label class="label-text">Fecha de registro</label>
                <strong>{{this.registro_Fecha| date:'dd/MM/yyyy'}} </strong>
            </div>
        </div>

        <div id="edit_Data" class="modal-wrap">
            <div class="modalbox medium">
                <div class="modal-header">
                    <h2><i class="fas fa-pen"></i> Datos del afiliado</h2>
                    <button class="close-btn dismiss"><i class="fas fa-times"></i></button>
                </div>
                <form action="" [formGroup]="frmAfiliadoEdit">
                    <div class="modal-body-content">


                        <div class="form-field">
                            <strong class="captinon">Teléfono Celular Médico:</strong>
                            <div
                                [ngClass]="{'has-error': submitted && frmAfiliadoEdit.controls['profesional_Telefono1'].invalid}">
                                <span class="error-text"
                                    *ngIf="submitted && frmAfiliadoEdit.controls['profesional_Telefono1'].invalid">Teléfono
                                    inválido</span>
                                <input type="text" mask="(000) 000-0000" formControlName="profesional_Telefono1"
                                    class="input form-input">
                            </div>
                        </div>
                        <div class="form-field">
                            <strong class="captinon">Teléfono Consultorio :</strong>
                            <div
                                [ngClass]="{'has-error': submitted && frmAfiliadoEdit.controls['profesional_Telefono2'].invalid}">
                                <span class="error-text"
                                    *ngIf="submitted && frmAfiliadoEdit.controls['profesional_Telefono2'].invalid">Teléfono
                                    inválido</span>
                                <input type="text" mask="(000) 000-0000" formControlName="profesional_Telefono2"
                                    class="input form-input">
                            </div>
                        </div>
                        <div class="form-field">
                            <strong class="captinon">Teléfono residencial<span class="required-field">*</span>:</strong>
                            <div
                                [ngClass]="{'has-error': submitted && frmAfiliadoEdit.controls['profesional_Telefono3'].invalid}">
                                <span class="error-text"
                                    *ngIf="submitted &&  frmAfiliadoEdit.controls['profesional_Telefono3'].invalid">Celular
                                    inválido</span>
                                <input type="text" mask="(000) 000-0000" formControlName="profesional_Telefono3"
                                    class="input form-input">
                            </div>
                        </div>
                        <div class="form-field">
                            <strong class="caption">Correo electrónico<span class="required-field">*</span>:</strong>
                            <div
                                [ngClass]="{'has-error': submitted && frmAfiliadoEdit.controls['profesional_Mail'].invalid}">
                                <span class="error-text"
                                    *ngIf="submitted &&  frmAfiliadoEdit.controls['profesional_Mail'].invalid">Correo
                                    electrónico
                                    inválido</span>
                                <input type="email" formControlName="profesional_Mail" class="input form-input">
                            </div>
                        </div>
                        <!-- <strong class="caption">ingresar Copia de Cédula Identidad y Electoral o Pasaporte <span
                                class="required-field">*</span></strong>
                        <div>
                            <div class="upload_file input">
                                <input type="file" formControlName="archivo_Cedula" accept="application/pdf"
                                    (change)="uploadFile($any($event.target).files, 1)" />
                                <span class="file-name check-icon" id="spanImportarArchivo"></span>
                                <button class="btn-search chambray-btn rounded">Buscar</button>
                            </div>
                        </div>
                        <strong class="caption">ingresar Copia de Exequátur <span
                                class="required-field">*</span></strong>
                        <div>


                            <div class="upload_file input">
                                <input type="file" formControlName="archivo_Exequatur" accept="application/pdf"
                                    (change)="uploadFile($any($event.target).files, 2)" />
                                <span class="file-name check-icon" id="spanImportarArchivo"></span>
                                <button class="btn-search chambray-btn rounded">Buscar</button>
                            </div>
                        </div>
                        <div class="required-field-cont">
                            <span class="required-field">*</span>El formato del archivo debe ser en .JPG o PDF.
                        </div> -->
                    </div>
                    <div class="modal-footer right">
                        <button type="button" class="default-btn rounded lg-btn dismiss" id="btnCancel" name="btnCancel"
                            (click)="Cancelar()">
                            <i class="fas fa-times"></i> Cancelar</button>
                        <button type="button" class="primary-btn rounded lg-btn" (click)="GuardarAfiliadoSolicitud()"><i
                                class="fas fa-check"></i> Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>