<style>
    .register_list .register .cel#statuslabel {
        text-align: right;
        vertical-align: middle;
        width: 200px !important;
        padding-left: 0% !important;
    }
</style>


<div class="add-choices" *ngIf="asociaciones == false">

    <div class="block" (click)="NuevaAsociacion()">
        <h4><i class="fas fa-edit"></i> Agregar Asociaciones </h4>
        <span>Registre los datos relacionados a las Asociaciones a las que pertenece
        </span>
    </div>
</div>

<br>
<div class="row">
    <div class="col-w9">
        <div class="register_list">

            @for (item of listado; track $index) {
            <div class="register animate__animated animate__fadeIn list">
                <div class="cel">
                    <strong class="title">
                        Asociacion : {{item.profesional_Asociacion_Codigo}}
                    </strong>
                    <span class="status-label approved">
                        Registro Patronal : ({{item.asociacion_Registro_Patronal}})
                    </span>

                    <div class="relates">
                        <span><i class="far fa-calendar"></i> Fecha Registro: {{item.registro_Fecha}} </span>
                        <span><i class="far fa-calendar"></i> Fecha
                            del titulo: {{item.asociacion_Asociado_Estado_Nota}} </span>
                        <span>
                            <i class="far fa-calendar"></i> Estatus Solicitud: {{item.registro_Estado}}</span>
                    </div>
                </div>

                <div class="cel" id="btns">
                    <button class="outline-btn icon tooltip  open-modal" data-tooltip="Ver Detalle"
                        data-target="Detail_form">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <div class="cel" id="btns">
                    <button class="outline-btn icon edit tooltip open-modal" data-tooltip="Editar registro">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>


            </div>
            }

        </div>


    </div>
    <div class="col-w3 info-section" *ngIf="asociaciones == true">
        <div class="block m-top">
            <h4>Acciones</h4>
            <div class="form-field">
                <button class="default-btn rounded " (click)="NuevaAsociacion()">

                    <i class="fas fa-edit"></i> Agregar Especialidad
                </button>
            </div>

        </div>
    </div>

</div>