<style>
    .register_list .register .cel#statuslabel {
        text-align: right;
        vertical-align: middle;
        width: 200px !important;
        padding-left: 0% !important;
    }
</style>
<div class="skeleton slst animate__animated animate__fadeIn" *ngIf="loading">
    <h3 class="color-accent">Estamos procesando su solicitud. Por favor, espere...</h3>
    <div class="tpln clm2 fd">
        <div><span class="sqr"></span></div>
        <div><span class="rnd"></span><span class="ln"></span><span class="rnd"></span>
        </div>
    </div>
    <div class="lst fd">
        <div class="sqr wd mhg wvs pst"></div>
        <div class="sqr wd mhg wvs pst"></div>
        <div class="sqr wd mhg wvs pst"></div>
    </div>
</div>

<div class="blue-alert"
    *ngIf="loading == false && this.estado_Numero == 0 || this.estado_Numero == 1 || this.estado_Numero == 8 ">
    <div class="content has-icon">
        <div class="icon"><i class="fas fa-info-circle"></i></div>
        <div><strong>No se ha formalizado la solicitud de Profesional de la salud (NUPRE) para este asociado.
                Para continuar realice los siguientes pasos:</strong>
            <p>1.rellenar con insturcion correctas
            </p>
            <p>2. .rellenar con insturcion correctas .</p>
            <p>3..rellenar con insturcion correctas
            </p>
            <p>4..rellenar con insturcion correctas
            </p>
        </div>
    </div>
</div>


<div class="add-choices" *ngIf="Registrado == false">

    <div class="block" (click)="Nuevasolicitud(this.solicitudId)">
        <h4><i class="fas fa-edit"></i> Títulos de Profesiones </h4>
        <span>Registre los datos relacionados al medico (Copia del titulo , Copia de Exequátu ).</span>
    </div>
</div>

<div class="yellow-alert" *ngIf="this.RechazoParcial && motivos_Rechazo.length  > 0">
    <div class="content">
        <div class="form-field">
            Existen datos que deben revisarse en la solicitud. Para corregir
            estos errores presione el botón
            <strong>"editar registro <i class="fas fa-edit"></i>"</strong> que se encuentra en el recuadro del titulo
            registrado.
        </div>
        <div style="margin-bottom: 15px;" *ngFor="let motivo of motivos_Rechazos_Agrupados | keyvalue">
            <strong class="caption">Licencia No: {{ motivo.key }} </strong>
            <ul>
                <li class="color-red" *ngFor="let item of motivo.value">
                    {{item.motivo_Rechazo_Descripcion}}
                </li>
            </ul>

            <div *ngIf="motivo.value[0]?.notaEvaluador">
                <strong>Nota: </strong>
                <p>{{motivo.value[0].notaEvaluador}}</p>
            </div>
        </div>

        <div>
            <p>
                <strong><i class="fas fa-exclamation-circle"></i> IMPORTANTE: Cuando haga los ajustes correspondientes.
                    Favor
                    diríjase a la pestaña “Someter Solicitud” ubicado a la izquierda, para someter (enviar a SISALRIL)
                    la
                    solicitud.</strong>
            </p>
        </div>

    </div>
</div>

<br>
<div class="row">
    <div class="col-w9">
        <div class="register_list">

            @for (item of listadoDto; track $index) {
            <div class="register animate__animated animate__fadeIn list">
                <div class="cel ">
                    <strong class="title">
                        <!-- Profesion - Medico General -->
                        Titulo : {{item.especialidad_Descripcion}}
                        <!-- {{listado.enfermedad_Padecimiento}} - {{listado.tipodelicencia}} -->

                    </strong>


                    <!-- <span class="status-label approved">
                      ({{listado.estado_Descripcion}})
                    </span> -->


                    <div class="relates">
                        <span><i class="far fa-calendar"></i> Fecha Registro: {{item.registro_Fecha}} </span>

                        <span><i class="far fa-calendar"></i> Periodo
                            del titulo: {{item.especialidad_Periodo}} </span>

                        <span>
                            <i class="far fa-calendar"></i> Estatus Solicitud: {{item.registro_Estado}}</span>
                    </div>
                </div>

                <div class="cel" id="btns">
                    <button class="outline-btn icon tooltip  open-modal" data-tooltip="Ver Detalle"
                        data-target="Detail_form">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <div class="cel" id="btns">
                    <button class="outline-btn icon edit tooltip open-modal" data-tooltip="Editar registro">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>


            </div>
            }

        </div>


    </div>

    <div class="col-w3 info-section">
        <div class="block m-top" *ngIf="Registrado == true">
            <h4>Acciones</h4>
            <div class="form-field">
                <button class="default-btn rounded " (click)="Nuevasolicitud(this.solicitudId)">

                    <i class="fas fa-edit"></i> Agregar Especialidad
                </button>
            </div>

        </div>
    </div>
</div>