<style>
    .register_list .register .cel#statuslabel {
        text-align: right;
        vertical-align: middle;
        width: 200px !important;
        padding-left: 0% !important;
    }
</style>
<div class="skeleton slst animate__animated animate__fadeIn" *ngIf="loading">
    <h3 class="color-accent">Estamos procesando su solicitud. Por favor, espere...</h3>
    <div class="tpln clm2 fd">
        <div><span class="sqr"></span></div>
        <div><span class="rnd"></span><span class="ln"></span><span class="rnd"></span>
        </div>
    </div>
    <div class="lst fd">
        <div class="sqr wd mhg wvs pst"></div>
        <div class="sqr wd mhg wvs pst"></div>
        <div class="sqr wd mhg wvs pst"></div>
    </div>
</div>

<div class="blue-alert"
    *ngIf="loading == false && this.estado_Numero == 0 || this.estado_Numero == 1 || this.estado_Numero == 8 ">
    <div class="content has-icon">
        <div class="icon"><i class="fas fa-info-circle"></i></div>
        <div><strong>No se ha formalizado la solicitud de Profesional de la salud (NUPRE) para este asociado.
                Para continuar realice los siguientes pasos:</strong>
            <p>1.rellenar con insturcion correctas
            </p>
            <p>2. .rellenar con insturcion correctas .</p>
            <p>3..rellenar con insturcion correctas
            </p>
            <p>4..rellenar con insturcion correctas
            </p>
        </div>
    </div>
</div>


<div class="add-choices" *ngIf="Registrado == false">

    <div class="block" (click)="Nuevasolicitud(this.solicitudId)">
        <h4><i class="fas fa-edit"></i> Títulos de Profesiones </h4>
        <span>Registre los datos relacionados al medico (Copia del titulo , Copia de Exequátu ).</span>
    </div>
</div>

<div class="yellow-alert" *ngIf="this.RechazoParcial && motivos_Rechazo.length  > 0">
    <div class="content">
        <div class="form-field">
            Existen datos que deben revisarse en la solicitud. Para corregir
            estos errores presione el botón
            <strong>"editar registro <i class="fas fa-edit"></i>"</strong> que se encuentra en el recuadro del titulo
            registrado.
        </div>
        <div style="margin-bottom: 15px;" *ngFor="let motivo of motivos_Rechazos_Agrupados | keyvalue">
            <strong class="caption">Licencia No: {{ motivo.key }} </strong>
            <ul>
                <li class="color-red" *ngFor="let item of motivo.value">
                    {{item.motivo_Rechazo_Descripcion}}
                </li>
            </ul>

            <div *ngIf="motivo.value[0]?.notaEvaluador">
                <strong>Nota: </strong>
                <p>{{motivo.value[0].notaEvaluador}}</p>
            </div>
        </div>

        <div>
            <p>
                <strong><i class="fas fa-exclamation-circle"></i> IMPORTANTE: Cuando haga los ajustes correspondientes.
                    Favor
                    diríjase a la pestaña “Someter Solicitud” ubicado a la izquierda, para someter (enviar a SISALRIL)
                    la
                    solicitud.</strong>
            </p>
        </div>

    </div>
</div>

<br>
<div class="row">
    <div class="col-w9">
        <div class="register_list">

            @for (item of listadoDto; track $index) {
            <div class="register animate__animated animate__fadeIn list">
                <div class="cel ">
                    <strong class="title">

                        Titulo : {{item.especialidad_Descripcion}}


                    </strong>




                    <div class="relates">
                        <span><i class="far fa-calendar"></i> Fecha Registro: {{item.registro_Fecha |
                            date:'dd/MM/yyyy'}} </span>

                        <span><i class="far fa-calendar"></i> Fecha
                            del titulo: {{item.especialidad_Periodo | date:'dd/MM/yyyy'}} </span>

                        <span>
                            <i class="far fa-calendar"></i> Estatus Solicitud: {{item.registro_Estado}}</span>
                    </div>
                </div>

                <!-- data-target="edit_documentform" -->
                <div class="cel" id="btns" *ngIf="item.especialidad_Estado_Numero ==1">
                    <button class="outline-btn icon edit tooltip open-modal" data-tooltip="Editar registro"
                        (click)="EditarRegistro(item)">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>


            </div>
            }

        </div>


    </div>

    <div class="col-w3 info-section">
        <div class="block m-top" *ngIf="Registrado == true">
            <h4>Acciones</h4>
            <div class="form-field">
                <button class="default-btn rounded " (click)="Nuevasolicitud(this.solicitudId)">

                    <i class="fas fa-edit"></i> Agregar Especialidad
                </button>
            </div>

        </div>
    </div>


    <div id="edit_documentform" class="modal-wrap">
        <div class="modalbox medium">
            <div class="modal-header">
                <h2><i class="fas fa-pen"></i> Datos del Titulo : </h2>
                <button class="close-btn dismiss"><i class="fas fa-times"></i></button>
            </div>
            <form action="" [formGroup]="frmAEdit">
                <div class="modal-body-content">
                    <div class="form-field">
                        <strong class="captinon">Titulo :</strong>
                        <div [ngClass]="{'has-error': submitted && frmAEdit.controls['profesional_Telefono1'].invalid}">
                            <span class="error-text"
                                *ngIf="submitted && frmAEdit.controls['profesional_Telefono1'].invalid">Teléfono
                                inválido</span>
                            <input type="text" mask="(000) 000-0000" formControlName="profesional_Telefono1"
                                class="input form-input">
                        </div>
                    </div>
                    <div class="form-field">
                        <strong class="captinon">Fecha Otorgado:</strong>
                        <div [ngClass]="{'has-error': submitted && frmAEdit.controls['profesional_Telefono1'].invalid}">
                            <span class="error-text"
                                *ngIf="submitted && frmAEdit.controls['profesional_Telefono1'].invalid">Teléfono
                                inválido</span>
                            <input type="text" mask="(000) 000-0000" formControlName="profesional_Telefono2"
                                class="input form-input">
                        </div>
                    </div>
                    <div class="form-field">
                        <strong class="captinon">Documento :</strong>
                        <div [ngClass]="{'has-error': submitted && frmAEdit.controls['documento_adjunto'].invalid}">
                            <span class="error-text"
                                *ngIf="submitted && frmAEdit.controls['documento_adjunto'].invalid">Teléfono
                                inválido</span>
                            <div class="upload_file input">
                                <input type="file" formControlName="documento_adjunto" accept="application/pdf"
                                    (change)="uploadFile($any($event.target).files)" />
                                <span class="file-name check-icon" id="spanImportarArchivo"></span>
                                <button class="btn-search chambray-btn rounded">Buscar</button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>


</div>