<section class="animate__animated animate__fadeIn">
    <div id="main-title">
        <div class="container">
            <!-- <h2>{{registroOrEditSubsidioMaternidad}}</h2> -->
        </div>
    </div>
    <div class="body-content">
        <div class="sm-width single-elem has-breadcrumbns">
            <div id="bread-crumbs">
                <div class="container">
                    <ul class="no-style">
                        <li><a href="">Inicio</a></li>
                        <li>Consulta</li>
                        <li><a>Solicitudes NUPRE</a></li>
                        <li><a>Detalle solicitud</a></li>
                        <li>Registro de Titulo</li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <form action="">
                    <!-- detalle de la licencia -->
                    <section class="block-section">
                        <div class="content-title">
                            <h3 class="title">Detalle del Titulo</h3>
                        </div>

                        <div class="form-field">
                            <div class="form-field">
                                <strong class="caption">Tipo de Registro <span class="required-field">*</span>:</strong>
                                <div class="item" *ngFor="let tyeOfTitulo of list_TipoEspecilidades">
                                    <label class="square-rdb form-control">
                                        <input type="radio" name="LicenciaTipoN" id="LicenciaTipoN"
                                            value="{{tyeOfTitulo.especialidad_Tipo_Numero}}" />
                                        <span class="elem"></span> {{tyeOfTitulo.especialidad_Tipo_Descripcion}}

                                    </label>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-field">
                            <strong class="caption">Tipo de Registro <span class="required-field">*</span>:</strong>
                            
                            <label class="square-rdb">
                                <input type="radio" name="LicenciaTipoN" id="LicenciaTipoN" value="0"
                                    formControlName="LicenciaTipoN">
                                <span>Profesion </span>
                            </label>
                            <label class="square-rdb">
                                <input type="radio" name="LicenciaTipoN" id="LicenciaTipoN"
                                    formControlName="LicenciaTipoN">
                                <span>Especialidad </span>
                            </label>
                        </div> -->
                        <div class="form-field">
                            <strong class="caption">Profesion <span class="required-field">*</span>:
                                <!--<span class="required-field">*</span>-->
                            </strong>

                            <div class="form-control">

                                <ng-select [items]="listadoEspecialidades" placeholder="Selecione una {{ titulo}} "
                                    formControlName="nacionalidadNumero" bindLabel="nacionalidad_Pais_Nombre"
                                    bindValue="nacionalidad_Numero" [clearable]="false" [searchable]="true"
                                    [(ngModel)]="selectedProfesion">
                                </ng-select>
                            </div>
                            <div>
                                <span class="error-text">Este
                                    campo es requerido</span>

                            </div>
                        </div>

                        <div class="form-field">

                            <strong class="caption"> Fecha Otorgado<span class="required-field">*</span>:</strong>
                            <input type="date" formControlName="Solicitud_Diagnostico_Fecha" class="input form-input"
                                appMaxLenDate>
                        </div>

                        <section class="block-section">


                            <strong class="caption">Documento<span class="required-field">*</span></strong>

                            <div>
                                <!-- class success cuando se suba el archivo -->
                                <div class="upload_file input">
                                    <input type="file" formControlName="archivo" accept="application/pdf" />
                                    <span class="file-name check-icon" id="spanImportarArchivo"></span>
                                    <button class="btn-search chambray-btn rounded">Buscar</button>
                                </div>
                            </div>

                        </section>
                    </section>
                    <div class="bottom-btn right">
                        <button class="default-btn rounded lg-btn"><i class="fas fa-times"></i>
                            Cancelar</button>
                        <button class="primary-btn rounded lg-btn">


                            <i class="fas fa-check">Agregar</i>

                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>